body 
{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    line-height: 1.6;
}

h1 
{
    font-weight: 600;
    color: #ffffff;
}

h2, h3 
{
    font-weight: 600;
    color: #000000;
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

section 
{
    padding-top: 2rem;
    padding-bottom: 2rem;
    scroll-margin-top: 100px;
}

.btn-primary 
{
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover 
{
    background-color: #0056b3;
}

.img-thumbnail 
{
    border-radius: 10px;
    border: 2px solid #ddd;
    transition: transform 0.3s ease;
}

.img-thumbnail:hover 
{
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#scrollTopBtn 
{
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s;
}

#scrollTopBtn.visible 
{
  opacity: 1;
  visibility: visible;
}

blockquote 
{
  font-style: italic;
  margin-bottom: 0.5rem;
}

footer 
{
  font-weight: bold;
  color: #555;
}

.card-hover 
{
  transition: box-shadow 0.3s ease;
  border-radius: 12px;
  padding: 1rem;
}

.card-hover:hover 
{
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

nav.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease;
}

nav.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
